[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylama = "*"
black = "*"

[packages]
jupyter = "*"
notebook = "*"
numpy = "*"
matplotlib = "*"
keras = "*"
librosa = "*"
scipy = "*"
pydrive = "*"
seaborn = "*"
tensorflow = "*"
sklearn = "*"
microfaune = {path = "./microfaune_package"}
grpcio-tools = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
